 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 660px){
 ul.recipeCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}
}
@media only screen and (min-width: 1200px){
  ul.recipeCards {
   grid-template-columns: repeat(5, 1fr);
 }
}