@media all and (min-width: 480px) {
  .SettingsForm {
    padding: 60px 0;
  }

  .SettingsForm form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.SettingsForm form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
}